<%- include('partials/header'); -%>

        <h1 class="center">About</h1>

        <p>Blog project where I can enter the title of a blog post and content and it then shows on the home page.
                At the moment anyone is able to compose and delete blog posts. 
                I used the following technologies to create this site.
        </p>

        <ul>
                <li>MongoDB - To save the blog posts</li>
                <li>Express - Backend/Server</li>
                <li>Node.JS - Allow use of JavaScript outside of clientside</li>
                <li>Vanilla JavaScript - For the dynamic year in the footer</li>
                <li>HTML5 - Structure of the site</li>
                <li>CSS3 - For styling of the site</li>
                <li>Bootstrap - For further styling of the site</li>
        </ul>




<%- include('partials/footer'); -%>